// --------------------------------------------
// Colors -------------------------------------
// Usage example: color(primary, main)
// --------------------------------------------
$color: (
	typography: (
		1: #FFFFFF,
		2: #8A94A7,
		3: #3B404C
	),
	bg: (
		1: #15181D,
		2: #1D2026,
		3: #242830,
		4: #2C3039
	),
	primary: (
		1: #0270D7,
		2: #0F8AFD,
		3: #0256A4
 	)
);

// --------------------------------------------
// Typography ---------------------------------
// --------------------------------------------
$font__family: (
	base: '"IBM Plex Sans", sans-serif', // font-family(base)
	heading: '"IBM Plex Sans", sans-serif', // font-family(heading)
	code: 'Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace', // font-family(code)
	pre: '"Courier 10 Pitch", Courier, monospace' // font-family(pre)
);

$font__sizes: (
	alpha:   ( 44px, 54px, 0px ),    // font-size, line-height, kerning (use '0' if don't want to output any kerning)
	beta:    ( 38px, 48px, 0px ),
	gamma:   ( 32px, 42px, 0px ),
	delta:   ( 24px, 34px, 0px ),
	epsilon: ( 20px, 30px, -0.1px ),
	zeta:    ( 18px, 28px, -0.1px ),
	eta:     ( 16px, 24px, -0.1px ),
	theta:   ( 14px, 22px, 0px )
);

$font__scale: (
	desktop: (                             // i.e. $breakpoint__m + $breakpoint__l (600 - 1024)
		1: map-get($font__sizes, alpha),   // H1
		2: map-get($font__sizes, beta),    // H2
		3: map-get($font__sizes, gamma),   // H3
		4: map-get($font__sizes, delta),   // H4, H5, H6
		5: map-get($font__sizes, epsilon), // Body
		6: map-get($font__sizes, zeta),    // Text small (e.g. faq's)
		7: map-get($font__sizes, eta),     // Text smaller (e.g. pricing, testimonials)
		8: map-get($font__sizes, theta)    // Footer area
	),
	mobile: (                              // i.e. $breakpoint__xs + $breakpoint__s (up to 600)
		1: map-get($font__sizes, beta),    // H1
		2: map-get($font__sizes, gamma),   // H2
		3: map-get($font__sizes, delta),   // H3
		4: map-get($font__sizes, epsilon), // H4, H5, H6
		5: map-get($font__sizes, epsilon), // Body
		6: map-get($font__sizes, zeta),    // Text small (e.g. faq's)
		7: map-get($font__sizes, eta),     // Text smaller (e.g. pricing, testimonials)
		8: map-get($font__sizes, theta)    // Footer area
	)
);

$font__weight: (
	regular: 400, 	// font__weight(regular)
	medium: 500,	// font__weight(medium)
	semibold: 600,	// font__weight(semi-bold)
	bold: 700		// font__weight(bold)
);

// --------------------------------------------
// Structure ----------------------------------
// --------------------------------------------
$content__padding: (
	mobile: 16px,
	desktop:  24px
);
$container__width: 1080px;
$container__width-sm: 800px;
// Font-size + Line-height + Kerning
// Usage: @include font-size(1, mobile)
// Add more true/false args to control what to output: font-size, line-height, kerning
@mixin font-size($size, $elem, $font-size: true, $line-height: false, $kerning: false, $adjust-font-size: 0) {
	@if not map-has-key(map-get($font__scale, $elem), $size) {
		@warn "'#{$size}' key does not exist in array!";
	}
	@if ( $font-size != false ) {
		font-size: get-font-size($size, $elem) + $adjust-font-size;
	}
	@if ( $line-height == true ) {
		line-height: get-line-height($size, $elem);
	}
	@if ( $kerning == true ) {
		letter-spacing: get-kerning($size, $elem);
	}
}

// Font Family
@mixin font-family($elem) {
	font-family: unquote(get-font-family($elem));
}

// Font Weight
@mixin font-weight($elem) {
	font-weight: get-font-weight($elem);
}

// Anchor aspect
@mixin anchor-aspect($type: 'main') {
	@if ($type == 'main') { // Base
		color: color(typography, 2);
		text-decoration: underline;

		&:hover,
		&:active {
			outline: 0;
			text-decoration: none;
		}
	} @else if ($type == 'header') {
		color: color(typography, 2);
		text-transform: uppercase;
		text-decoration: none;

		&:hover,
		&:active {
		}
	} @else if ($type == 'footer') {
		color: color(typography, 2);
		text-decoration: none;

		&:hover,
		&:active {
			text-decoration: underline;
		}
	}
}

@mixin shadow {
	box-shadow: 0 24px 48px rgba(color(bg, 1), .24);
	mix-blend-mode: multiply;
}

@mixin shadow-sm {
	box-shadow: 0 16px 24px rgba(color(bg, 1), .24);
	mix-blend-mode: multiply;
}

@mixin divider-mix {
	display: block;
	height: 1px;
	background: color(bg, 3);
}

@mixin divider($type: false) {
	@if ( $type == 'before' ) {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			@include divider-mix;
		}
	} @else if ($type == 'after') {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			@include divider-mix;
		}
	} @else {
		@include divider-mix;
	}
}
// @charset "UTF-8";

//     _            _           _                           _ _
//    (_)          | |         | |                         | (_)
//     _ _ __   ___| |_   _  __| | ___   _ __ ___   ___  __| |_  __ _
//    | | '_ \ / __| | | | |/ _` |/ _ \ | '_ ` _ \ / _ \/ _` | |/ _` |
//    | | | | | (__| | |_| | (_| |  __/ | | | | | |  __/ (_| | | (_| |
//    |_|_| |_|\___|_|\__,_|\__,_|\___| |_| |_| |_|\___|\__,_|_|\__,_|
//
//      Simple, elegant and maintainable media queries in Sass
//                        v1.4.9
//
//                http://include-media.com
//
//         Authors: Eduardo Boucas (@eduardoboucas)
//                  Hugo Giraudel (@hugogiraudel)
//
//      This project is licensed under the terms of the MIT license


////
/// include-media library public configuration
/// @author Eduardo Boucas
/// @access public
////


///
/// Creates a list of global breakpoints
///
/// @example scss - Creates a single breakpoint with the label `phone`
///  $breakpoints: ('phone': 320px);
///
$breakpoints: (
  'small': 480px,
  'medium': 640px,
  'large': 1024px,
) !default;


///
/// Creates a list of static expressions or media types
///
/// @example scss - Creates a single media type (screen)
///  $media-expressions: ('screen': 'screen');
///
/// @example scss - Creates a static expression with logical disjunction (OR operator)
///  $media-expressions: (
///    'retina2x': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)'
///  );
///
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi), (min-resolution: 3dppx)'
) !default;


///
/// Defines a number to be added or subtracted from each unit when declaring breakpoints with exclusive intervals
///
/// @example scss - Interval for pixels is defined as `1` by default
///  @include media('>128px') {}
///
///  /* Generates: */
///  @media (min-width: 129px) {}
///
/// @example scss - Interval for ems is defined as `0.01` by default
///  @include media('>20em') {}
///
///  /* Generates: */
///  @media (min-width: 20.01em) {}
///
/// @example scss - Interval for rems is defined as `0.1` by default, to be used with `font-size: 62.5%;`
///  @include media('>2.0rem') {}
///
///  /* Generates: */
///  @media (min-width: 2.1rem) {}
///
$unit-intervals: (
  'px': 1,
  'em': 0.01,
  'rem': 0.1,
  '': 0
) !default;

///
/// Defines whether support for media queries is available, useful for creating separate stylesheets
/// for browsers that don't support media queries.
///
/// @example scss - Disables support for media queries
///  $im-media-support: false;
///  @include media('>=tablet') {
///    .foo {
///      color: tomato;
///    }
///  }
///
///  /* Generates: */
///  .foo {
///    color: tomato;
///  }
///
$im-media-support: true !default;

///
/// Selects which breakpoint to emulate when support for media queries is disabled. Media queries that start at or
/// intercept the breakpoint will be displayed, any others will be ignored.
///
/// @example scss - This media query will show because it intercepts the static breakpoint
///  $im-media-support: false;
///  $im-no-media-breakpoint: 'desktop';
///  @include media('>=tablet') {
///    .foo {
///      color: tomato;
///    }
///  }
///
///  /* Generates: */
///  .foo {
///    color: tomato;
///  }
///
/// @example scss - This media query will NOT show because it does not intercept the desktop breakpoint
///  $im-media-support: false;
///  $im-no-media-breakpoint: 'tablet';
///  @include media('>=desktop') {
///    .foo {
///      color: tomato;
///    }
///  }
///
///  /* No output */
///
$im-no-media-breakpoint: 'desktop' !default;

///
/// Selects which media expressions are allowed in an expression for it to be used when media queries
/// are not supported.
///
/// @example scss - This media query will show because it intercepts the static breakpoint and contains only accepted media expressions
///  $im-media-support: false;
///  $im-no-media-breakpoint: 'desktop';
///  $im-no-media-expressions: ('screen');
///  @include media('>=tablet', 'screen') {
///    .foo {
///      color: tomato;
///    }
///  }
///
///   /* Generates: */
///   .foo {
///     color: tomato;
///   }
///
/// @example scss - This media query will NOT show because it intercepts the static breakpoint but contains a media expression that is not accepted
///  $im-media-support: false;
///  $im-no-media-breakpoint: 'desktop';
///  $im-no-media-expressions: ('screen');
///  @include media('>=tablet', 'retina2x') {
///    .foo {
///      color: tomato;
///    }
///  }
///
///  /* No output */
///
$im-no-media-expressions: ('screen', 'portrait', 'landscape') !default;

////
/// Cross-engine logging engine
/// @author Hugo Giraudel
/// @access private
////


///
/// Log a message either with `@error` if supported
/// else with `@warn`, using `feature-exists('at-error')`
/// to detect support.
///
/// @param {String} $message - Message to log
///
@function im-log($message) {
  @if feature-exists('at-error') {
    @error $message;
  } @else {
    @warn $message;
    $_: noop();
  }

  @return $message;
}


///
/// Wrapper mixin for the log function so it can be used with a more friendly
/// API than `@if im-log('..') {}` or `$_: im-log('..')`. Basically, use the function
/// within functions because it is not possible to include a mixin in a function
/// and use the mixin everywhere else because it's much more elegant.
///
/// @param {String} $message - Message to log
///
@mixin log($message) {
  @if im-log($message) {}
}


///
/// Function with no `@return` called next to `@warn` in Sass 3.3
/// to trigger a compiling error and stop the process.
///
@function noop() {}

///
/// Determines whether a list of conditions is intercepted by the static breakpoint.
///
/// @param {Arglist}   $conditions  - Media query conditions
///
/// @return {Boolean} - Returns true if the conditions are intercepted by the static breakpoint
///
@function im-intercepts-static-breakpoint($conditions...) {
  $no-media-breakpoint-value: map-get($breakpoints, $im-no-media-breakpoint);

  @if not $no-media-breakpoint-value {
    @if im-log('`#{$im-no-media-breakpoint}` is not a valid breakpoint.') {}
  }

  @each $condition in $conditions {
    @if not map-has-key($media-expressions, $condition) {
      $operator: get-expression-operator($condition);
      $prefix: get-expression-prefix($operator);
      $value: get-expression-value($condition, $operator);

      @if ($prefix == 'max' and $value <= $no-media-breakpoint-value) or
          ($prefix == 'min' and $value > $no-media-breakpoint-value) {
        @return false;
      }
    } @else if not index($im-no-media-expressions, $condition) {
      @return false;
    }
  }

  @return true;
}

////
/// Parsing engine
/// @author Hugo Giraudel
/// @access private
////


///
/// Get operator of an expression
///
/// @param {String} $expression - Expression to extract operator from
///
/// @return {String} - Any of `>=`, `>`, `<=`, `<`, `≥`, `≤`
///
@function get-expression-operator($expression) {
  @each $operator in ('>=', '>', '<=', '<', '≥', '≤') {
    @if str-index($expression, $operator) {
      @return $operator;
    }
  }

  // It is not possible to include a mixin inside a function, so we have to
  // rely on the `im-log(..)` function rather than the `log(..)` mixin. Because
  // functions cannot be called anywhere in Sass, we need to hack the call in
  // a dummy variable, such as `$_`. If anybody ever raise a scoping issue with
  // Sass 3.3, change this line in `@if im-log(..) {}` instead.
  $_: im-log('No operator found in `#{$expression}`.');
}


///
/// Get dimension of an expression, based on a found operator
///
/// @param {String} $expression - Expression to extract dimension from
/// @param {String} $operator - Operator from `$expression`
///
/// @return {String} - `width` or `height` (or potentially anything else)
///
@function get-expression-dimension($expression, $operator) {
  $operator-index: str-index($expression, $operator);
  $parsed-dimension: str-slice($expression, 0, $operator-index - 1);
  $dimension: 'width';

  @if str-length($parsed-dimension) > 0 {
    $dimension: $parsed-dimension;
  }

  @return $dimension;
}


///
/// Get dimension prefix based on an operator
///
/// @param {String} $operator - Operator
///
/// @return {String} - `min` or `max`
///
@function get-expression-prefix($operator) {
  @return if(index(('<', '<=', '≤'), $operator), 'max', 'min');
}


///
/// Get value of an expression, based on a found operator
///
/// @param {String} $expression - Expression to extract value from
/// @param {String} $operator - Operator from `$expression`
///
/// @return {Number} - A numeric value
///
@function get-expression-value($expression, $operator) {
  $operator-index: str-index($expression, $operator);
  $value: str-slice($expression, $operator-index + str-length($operator));

  @if map-has-key($breakpoints, $value) {
    $value: map-get($breakpoints, $value);
  } @else {
    $value: to-number($value);
  }

  $interval: map-get($unit-intervals, unit($value));

  @if not $interval {
    // It is not possible to include a mixin inside a function, so we have to
    // rely on the `im-log(..)` function rather than the `log(..)` mixin. Because
    // functions cannot be called anywhere in Sass, we need to hack the call in
    // a dummy variable, such as `$_`. If anybody ever raise a scoping issue with
    // Sass 3.3, change this line in `@if im-log(..) {}` instead.
    $_: im-log('Unknown unit `#{unit($value)}`.');
  }

  @if $operator == '>' {
    $value: $value + $interval;
  } @else if $operator == '<' {
    $value: $value - $interval;
  }

  @return $value;
}


///
/// Parse an expression to return a valid media-query expression
///
/// @param {String} $expression - Expression to parse
///
/// @return {String} - Valid media query
///
@function parse-expression($expression) {
  // If it is part of $media-expressions, it has no operator
  // then there is no need to go any further, just return the value
  @if map-has-key($media-expressions, $expression) {
    @return map-get($media-expressions, $expression);
  }

  $operator: get-expression-operator($expression);
  $dimension: get-expression-dimension($expression, $operator);
  $prefix: get-expression-prefix($operator);
  $value: get-expression-value($expression, $operator);

  @return '(#{$prefix}-#{$dimension}: #{$value})';
}

///
/// Slice `$list` between `$start` and `$end` indexes
///
/// @access private
///
/// @param {List} $list - List to slice
/// @param {Number} $start [1] - Start index
/// @param {Number} $end [length($list)] - End index
///
/// @return {List} Sliced list
///
@function slice($list, $start: 1, $end: length($list)) {
  @if length($list) < 1 or $start > $end {
    @return ();
  }

  $result: ();

  @for $i from $start through $end {
    $result: append($result, nth($list, $i));
  }

  @return $result;
}

////
/// String to number converter
/// @author Hugo Giraudel
/// @access private
////


///
/// Casts a string into a number
///
/// @param {String | Number} $value - Value to be parsed
///
/// @return {Number}
///
@function to-number($value) {
  @if type-of($value) == 'number' {
    @return $value;
  } @else if type-of($value) != 'string' {
    $_: im-log('Value for `to-number` should be a number or a string.');
  }

  $first-character: str-slice($value, 1, 1);
  $result: 0;
  $digits: 0;
  $minus: ($first-character == '-');
  $numbers: ('0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9);

  // Remove +/- sign if present at first character
  @if ($first-character == '+' or $first-character == '-') {
    $value: str-slice($value, 2);
  }

  @for $i from 1 through str-length($value) {
    $character: str-slice($value, $i, $i);

    @if not (index(map-keys($numbers), $character) or $character == '.') {
      @return to-length(if($minus, -$result, $result), str-slice($value, $i))
    }

    @if $character == '.' {
      $digits: 1;
    } @else if $digits == 0 {
      $result: $result * 10 + map-get($numbers, $character);
    } @else {
      $digits: $digits * 10;
      $result: $result + map-get($numbers, $character) / $digits;
    }
  }

  @return if($minus, -$result, $result);
}


///
/// Add `$unit` to `$value`
///
/// @param {Number} $value - Value to add unit to
/// @param {String} $unit - String representation of the unit
///
/// @return {Number} - `$value` expressed in `$unit`
///
@function to-length($value, $unit) {
  $units: ('px': 1px, 'cm': 1cm, 'mm': 1mm, '%': 1%, 'ch': 1ch, 'pc': 1pc, 'in': 1in, 'em': 1em, 'rem': 1rem, 'pt': 1pt, 'ex': 1ex, 'vw': 1vw, 'vh': 1vh, 'vmin': 1vmin, 'vmax': 1vmax);

  @if not index(map-keys($units), $unit) {
    $_: im-log('Invalid unit `#{$unit}`.');
  }

  @return $value * map-get($units, $unit);
}

///
/// This mixin aims at redefining the configuration just for the scope of
/// the call. It is helpful when having a component needing an extended
/// configuration such as custom breakpoints (referred to as tweakpoints)
/// for instance.
///
/// @author Hugo Giraudel
///
/// @param {Map} $tweakpoints [()] - Map of tweakpoints to be merged with `$breakpoints`
/// @param {Map} $tweak-media-expressions [()] - Map of tweaked media expressions to be merged with `$media-expression`
///
/// @example scss - Extend the global breakpoints with a tweakpoint
///  @include media-context(('custom': 678px)) {
///    .foo {
///      @include media('>phone', '<=custom') {
///       // ...
///      }
///    }
///  }
///
/// @example scss - Extend the global media expressions with a custom one
///  @include media-context($tweak-media-expressions: ('all': 'all')) {
///    .foo {
///      @include media('all', '>phone') {
///       // ...
///      }
///    }
///  }
///
/// @example scss - Extend both configuration maps
///  @include media-context(('custom': 678px), ('all': 'all')) {
///    .foo {
///      @include media('all', '>phone', '<=custom') {
///       // ...
///      }
///    }
///  }
///
@mixin media-context($tweakpoints: (), $tweak-media-expressions: ()) {
  // Save global configuration
  $global-breakpoints: $breakpoints;
  $global-media-expressions: $media-expressions;

  // Update global configuration
  $breakpoints: map-merge($breakpoints, $tweakpoints) !global;
  $media-expressions: map-merge($media-expressions, $tweak-media-expressions) !global;

  @content;

  // Restore global configuration
  $breakpoints: $global-breakpoints !global;
  $media-expressions: $global-media-expressions !global;
}

////
/// include-media public exposed API
/// @author Eduardo Boucas
/// @access public
////


///
/// Generates a media query based on a list of conditions
///
/// @param {Arglist}   $conditions  - Media query conditions
///
/// @example scss - With a single set breakpoint
///  @include media('>phone') { }
///
/// @example scss - With two set breakpoints
///  @include media('>phone', '<=tablet') { }
///
/// @example scss - With custom values
///  @include media('>=358px', '<850px') { }
///
/// @example scss - With set breakpoints with custom values
///  @include media('>desktop', '<=1350px') { }
///
/// @example scss - With a static expression
///  @include media('retina2x') { }
///
/// @example scss - Mixing everything
///  @include media('>=350px', '<tablet', 'retina3x') { }
///
@mixin media($conditions...) {
  @if ($im-media-support and length($conditions) == 0) or
      (not $im-media-support and im-intercepts-static-breakpoint($conditions...)) {
    @content;
  } @else if ($im-media-support and length($conditions) > 0) {
    @media #{unquote(parse-expression(nth($conditions, 1)))} {
      // Recursive call
      @include media(slice($conditions, 2)...) {
        @content;
      }
    }
  }
}
// --------------------------------------------------------------------
// Retrieve Font Size -------------------------------------------------
// Used in _mixins.scss [@mixin font-size] ----------------------------
// --------------------------------------------------------------------
@function get-font-size($size, $elem) {
	@return nth(map-get(map-get($font__scale, $elem), $size), 1);
}

// --------------------------------------------------------------------
// Retrieve Line Height -----------------------------------------------
// Used in _mixins.scss [@mixin font-size] ----------------------------
// --------------------------------------------------------------------
@function get-line-height($size, $elem) {
	@return nth(map-get(map-get($font__scale, $elem), $size), 2);
}

// --------------------------------------------------------------------
// Retrieve Kerning ---------------------------------------------------
// Used in _mixins.scss [@mixin font-size] ----------------------------
// --------------------------------------------------------------------
@function get-kerning($size, $elem) {
	@return nth(map-get(map-get($font__scale, $elem), $size), 3);
}

// --------------------------------------------------------------------
// Retrieve Font Family -----------------------------------------------
// Used in _mixins.scss [@mixin font-family] --------------------------
// --------------------------------------------------------------------
@function get-font-family($elem) {
	@return map-get($font__family, $elem);
}

// --------------------------------------------------------------------
// Retrieve Font Weight -----------------------------------------------
// Used in _mixins.scss [@mixin font-weight] --------------------------
// --------------------------------------------------------------------
@function get-font-weight($elem) {
	@return map-get($font__weight, $elem);
}

// --------------------------------------------------------------------
// Retrieve Padding of Content Area Elements --------------------------
// Used in _mixins.scss [@mixin font-size] ----------------------------
// --------------------------------------------------------------------
@function get-content-padding($elem) {
	@return map-get($content__padding, $elem);
}

// --------------------------------------------------------------------
// Retrieve Colors ----------------------------------------------------
// Usage: color(typography, 1) ----------------------------------------------
// --------------------------------------------------------------------
@function color($elem, $variant) {
	@return map-get(map-get($color, $elem), $variant);
}
html {
	@include font-size(5, mobile, true, true);
	@if ( get-font-size(5, desktop) != get-font-size(5, mobile) ) {
		@include media( '>medium' ) {
			@include font-size(5, desktop, true, true, true);
		}
	}
}

body {
	color: color(typography, 2);
	font-size: 1rem;
}

body,
button,
input,
select,
textarea {
	@include font-family(base);
}

a {
	@include anchor-aspect(main);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	clear: both;
	color: color(typography, 1);
	@if ( get-font-family(heading) != get-font-family(base) ) {
		@include font-family(heading);
	}
	@include font-weight(semibold);
}

h1,
.h1 {
	@include font-size(1, mobile, true, true, true);
	@if ( get-font-size(1, desktop) != get-font-size(1, mobile) ) {
		@include media( '>medium' ) {
			@include font-size(1, desktop, true, true, true);
		}
	}
}

h2,
.h2 {
	@include font-size(2, mobile, true, true, true);
	@if ( get-font-size(2, desktop) != get-font-size(2, mobile) ) {
		@include media( '>medium' ) {
			@include font-size(2, desktop, true, true, true);
		}
	}
}

h3,
.h3,
blockquote {
	@include font-size(3, mobile, true, true, true);
	@if ( get-font-size(3, desktop) != get-font-size(3, mobile) ) {
		@include media( '>medium' ) {
			@include font-size(3, desktop, true, true, true);
		}
	}
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
	@include font-size(4, mobile, true, true, true);
	@if ( get-font-size(4, desktop) != get-font-size(4, mobile) ) {
		@include media( '>medium' ) {
			@include font-size(4, desktop, true, true, true);
		}
	}
}

@include media( '<=medium' ) {

	.h1-mobile {
		@include font-size(1, mobile, true, true, true);
	}

	.h2-mobile {
		@include font-size(2, mobile, true, true, true);
	}

	.h3-mobile {
		@include font-size(3, mobile, true, true, true);
	}

	.h4-mobile,
	.h5-mobile,
	.h6-mobile {
		@include font-size(4, mobile, true, true, true);
	}
}

.text-light {
	color: color(typography, 2i);

	a {
		color: color(typography, 2i);
	}
}

.text-light {

	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6 {
		color: color(typography, 1i) !important;
	}
}

.text-sm {
	@include font-size(6, mobile, true, true, true);
	@if ( get-font-size(6, desktop) != get-font-size(6, mobile) ) {
		@include media( '>medium' ) {
			@include font-size(6, desktop, true, true, true);
		}
	}
}

.text-xs {
	@include font-size(7, mobile, true, true, true);
	@if ( get-font-size(7, desktop) != get-font-size(7, mobile) ) {
		@include media( '>medium' ) {
			@include font-size(7, desktop, true, true, true);
		}
	}
}

h1, h2,
.h1, .h2 {
	margin-top: 48px;
	margin-bottom: 16px;
}

h3,
.h3 {
	margin-top: 36px;
	margin-bottom: 12px;
}

h4, h5, h6,
.h4, .h5, .h6 {
	margin-top: 24px;
	margin-bottom: 4px;
}

p {
	margin-top: 0;
	margin-bottom: 24px;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	color: color(typography, 3);
	font-style: italic;
	margin-top: 24px;
	margin-bottom: 24px;
	margin-left: 24px;

	&::before {
		content: "\201C";
	}

	&::after {
		content: "\201D";
	}

	p {
		display: inline;
	}
}

address {
	color: color(typography, 2);
	border-width: 1px 0;
	border-style: solid;
	border-color: color(bg, 3);
	padding: 24px 0;
	margin: 0 0 24px;
}

pre,
pre h1,
pre h2,
pre h3,
pre h4,
pre h5,
pre h6,
pre .h1,
pre .h2,
pre .h3,
pre .h4,
pre .h5,
pre .h6  {
	@include font-family(pre);
}

pre, code, kbd, tt, var {
	background: color(bg, 2);
}

pre {
	@include font-size(7, mobile, true, true);
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 24px;
	margin-top: 24px;
	margin-bottom: 24px;
}

code, kbd, tt, var {
	@include font-family(code);
	@include font-size(7, mobile, true);
	padding: 2px 4px;
}

abbr, acronym {
	cursor: help;
}

mark, ins {
	text-decoration: none;
}

small {
	@include font-size(6, mobile, true, true, true);
}

b,
strong {
	@include font-weight(semibold);
}

button,
input,
select,
textarea,
label {
	@include font-size(5, mobile, true, true);
}
.container,
.container-sm {
	width: 100%;
	margin: 0 auto;
	padding-left: get-content-padding(mobile);
	padding-right: get-content-padding(mobile);

	@include media( '>small' ) {
		padding-left: get-content-padding(desktop);
		padding-right: get-content-padding(desktop);
	}
}

.container {
	max-width: $container__width + ( get-content-padding(desktop) * 2 );
}

.container-sm {
	max-width: $container__width-sm + ( get-content-padding(desktop) * 2 );
}

.container {

    .container-sm {
		max-width: $container__width-sm;
        padding-left: 0;
        padding-right: 0;
    }
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

	&:focus {
		border-radius: 2px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		display: block;
		@include font-size(8, mobile, true, false, true);
	    @if ( get-font-size(8, desktop) != get-font-size(8, mobile) ) {
	        @include media( '>medium' ) {
	            @include font-size(8, desktop, true, false, true);
	        }
	    }
	    @include font-weight(semibold);
	    line-height: 16px;
	    text-decoration: none;
		text-transform: uppercase;
	    background-color: color(bg, 2);
	    color: color(primary, 1) !important;
	    border: none;
		height: auto;
		left: 8px;
		padding: 16px 32px;
		top: 8px;
		width: auto;
		z-index: 100000;
	}
}

.list-reset {
	list-style: none;
	padding: 0;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-primary {
    color: color(primary, 1);
}

.has-top-divider {
    @include divider(before);
}

.has-bottom-divider {
    @include divider(after);
}

.m-0 {
	margin: 0;
}

.mt-0 {
	margin-top: 0;
}

.mr-0 {
	margin-right: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.ml-0 {
	margin-left: 0;
}

.m-8 {
	margin: 8px;
}

.mt-8 {
	margin-top: 8px;
}

.mr-8 {
	margin-right: 8px;
}

.mb-8 {
	margin-bottom: 8px;
}

.ml-8 {
	margin-left: 8px;
}

.m-16 {
	margin: 16px;
}

.mt-16 {
	margin-top: 16px;
}

.mr-16 {
	margin-right: 16px;
}

.mb-16 {
	margin-bottom: 16px;
}

.ml-16 {
	margin-left: 16px;
}

.m-24 {
	margin: 24px;
}

.mt-24 {
	margin-top: 24px;
}

.mr-24 {
	margin-right: 24px;
}

.mb-24 {
	margin-bottom: 24px;
}

.ml-24 {
	margin-left: 24px;
}

.m-32 {
	margin: 32px;
}

.mt-32 {
	margin-top: 32px;
}

.mr-32 {
	margin-right: 32px;
}

.mb-32 {
	margin-bottom: 32px;
}

.ml-32 {
	margin-left: 32px;
}

.m-40 {
	margin: 40px;
}

.mt-40 {
	margin-top: 40px;
}

.mr-40 {
	margin-right: 40px;
}

.mb-40 {
	margin-bottom: 40px;
}

.ml-40 {
	margin-left: 40px;
}

.m-48 {
	margin: 48px;
}

.mt-48 {
	margin-top: 48px;
}

.mr-48 {
	margin-right: 48px;
}

.mb-48 {
	margin-bottom: 48px;
}

.ml-48 {
	margin-left: 48px;
}

.m-56 {
	margin: 56px;
}

.mt-56 {
	margin-top: 56px;
}

.mr-56 {
	margin-right: 56px;
}

.mb-56 {
	margin-bottom: 56px;
}

.ml-56 {
	margin-left: 56px;
}

.m-64 {
	margin: 64px;
}

.mt-64 {
	margin-top: 64px;
}

.mr-64 {
	margin-right: 64px;
}

.mb-64 {
	margin-bottom: 64px;
}

.ml-64 {
	margin-left: 64px;
}

.p-0 {
	padding: 0;
}

.pt-0 {
	padding-top: 0;
}

.pr-0 {
	padding-right: 0;
}

.pb-0 {
	padding-bottom: 0;
}

.pl-0 {
	padding-left: 0;
}

.p-8 {
	padding: 8px;
}

.pt-8 {
	padding-top: 8px;
}

.pr-8 {
	padding-right: 8px;
}

.pb-8 {
	padding-bottom: 8px;
}

.pl-8 {
	padding-left: 8px;
}

.p-16 {
	padding: 16px;
}

.pt-16 {
	padding-top: 16px;
}

.pr-16 {
	padding-right: 16px;
}

.pb-16 {
	padding-bottom: 16px;
}

.pl-16 {
	padding-left: 16px;
}

.p-24 {
	padding: 24px;
}

.pt-24 {
	padding-top: 24px;
}

.pr-24 {
	padding-right: 24px;
}

.pb-24 {
	padding-bottom: 24px;
}

.pl-24 {
	padding-left: 24px;
}

.p-32 {
	padding: 32px;
}

.pt-32 {
	padding-top: 32px;
}

.pr-32 {
	padding-right: 32px;
}

.pb-32 {
	padding-bottom: 32px;
}

.pl-32 {
	padding-left: 32px;
}

.p-40 {
	padding: 40px;
}

.pt-40 {
	padding-top: 40px;
}

.pr-40 {
	padding-right: 40px;
}

.pb-40 {
	padding-bottom: 40px;
}

.pl-40 {
	padding-left: 40px;
}

.p-48 {
	padding: 48px;
}

.pt-48 {
	padding-top: 48px;
}

.pr-48 {
	padding-right: 48px;
}

.pb-48 {
	padding-bottom: 48px;
}

.pl-48 {
	padding-left: 48px;
}

.p-56 {
	padding: 56px;
}

.pt-56 {
	padding-top: 56px;
}

.pr-56 {
	padding-right: 56px;
}

.pb-56 {
	padding-bottom: 56px;
}

.pl-56 {
	padding-left: 56px;
}

.p-64 {
	padding: 64px;
}

.pt-64 {
	padding-top: 64px;
}

.pr-64 {
	padding-right: 64px;
}

.pb-64 {
	padding-bottom: 64px;
}

.pl-64 {
	padding-left: 64px;
}

/* Reveal animations */
.sr {

	.has-animations {

		.is-revealing {
			visibility: hidden;
		}
	}
}

.has-animations {

	.anime-element {
		visibility: hidden;

		.anime-ready & {
			visibility: visible;
		}
	}
}
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: color(bg, 2); /* Fallback for when there is no custom background color defined. */
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

hr {
	border: 0;
	@include divider();
	margin-top: 24px;
	margin-bottom: 24px;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 24px;
	padding-left: 24px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dl {
	margin-top: 0;
	margin-bottom: 24px;
}

dt {
	@include font-weight(semibold);
}

dd {
	margin-left: 24px;
	margin-bottom: 24px;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	vertical-align: middle;
}

figure {
	margin: 24px 0; /* Extra wide images within figure tags don't overflow the content area. */
}

figcaption {
	@include font-size(7, mobile, true, true);
	padding: 8px 0;
}

img,
svg {
	display: block;
}

// tables
table {
	border-collapse: collapse;
	margin-bottom: 24px;
	width: 100%;
}

tr {
	border-bottom: 1px solid color(bg, 3);
}

th {
	text-align: left;
}

th,
td {
	padding: 10px 16px;

	&:first-child {
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}
}
.input,
.textarea {
    background-color: color(typography, 1);
    border-width: 1px;
    border-style: solid;
    border-color: color(bg, 3);
	border-radius: 2px;
    color: color(typography, 2);
    max-width: 100%;
    width: 100%;

    &::placeholder {
        color: color(typography, 3);
    }

    &::-ms-input-placeholder {
        color: color(typography, 3);
    }

    &:-ms-input-placeholder {
        color: color(typography, 3);
    }

    &:hover {
        border-color: darken(color(bg, 3), 5%);
    }

    &:active,
    &:focus {
        outline: none;
        border-color: color(bg, 3);
    }

    &[disabled] {
        cursor: not-allowed;
        background-color: color(bg, 2);
        border-color: color(bg, 2);
    }
}

.input {
    -moz-appearance: none;
    -webkit-appearance: none;
    @include font-size(7, mobile, true, false, true);
    @if ( get-font-size(7, desktop) != get-font-size(7, mobile) ) {
        @include media( '>medium' ) {
            @include font-size(7, desktop, true, false, true);
        }
    }
    line-height: 20px;
    padding: 13px 16px;
	height: 48px;
    box-shadow: none;

    .inline-input {
        display: inline;
        width: auto;
    }
}

.textarea {
    display: block;
    min-width: 100%;
    resize: vertical;

    .inline-textarea {
        display: inline;
        width: auto;
    }
}

.field-grouped {

    > .control {

        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}

@include media( '>medium' ) {

    .field-grouped {
        display: flex;

        > .control {
            flex-shrink: 0;

            &.control-expanded {
                flex-grow: 1;
                flex-shrink: 1;
            }

            &:not(:last-child) {
                margin-bottom: 0;
                margin-right: 8px;
            }
        }
    }
}
.button {
    display: inline-flex;
    @include font-size(8, mobile, true, false, true);
    @if ( get-font-size(8, desktop) != get-font-size(8, mobile) ) {
        @include media( '>medium' ) {
            @include font-size(8, desktop, true, false, true);
        }
    }
    @include font-weight(semibold);
    line-height: 16px;
    text-decoration: none !important;
	text-transform: uppercase;
    background-color: color(bg, 3);
    color: color(typography, 1) !important;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    justify-content: center;
    padding: 16px 32px;
	height: 48px;
    text-align: center;
    white-space: nowrap;

	&:hover {
		background: lighten(color(bg, 3), 1%);
	}

    &:active {
        outline: 0;
    }

    &::before {
        border-radius: 2px;
    }
}

.button-sm {
    padding: 8px 24px;
	height: 32px;
}

.button-primary {
	background: mix(color(primary, 1), color(primary, 2));
    background: linear-gradient(65deg, color(primary, 1) 0, color(primary, 2) 100%);

    &:hover {
		background: lighten(mix(color(primary, 1), color(primary, 2)), 2%);
        background: linear-gradient(65deg, lighten(color(primary, 1), 2%) 0, lighten(color(primary, 2), 2%) 100%);
    }
}

.button-block {
    display: flex;
}

.button-block {
    display: flex;
	width: 100%;
}

@include media( '<=medium' ) {

	.button-wide-mobile {
		width: 100%;
		max-width: 280px;
	}
}
/*--------------------------------------------------------------
# Variables, functions and mixins
--------------------------------------------------------------*/
@import "abstracts/variables",
        "abstracts/functions",
        "abstracts/mixins",
        'abstracts/include-media';

/*--------------------------------------------------------------
1.0 Normalize
	* normalize.css v7.0.0 | MIT License
	* github.com/necolas/normalize.css
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
@import "base/base";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "base/typography";

/*--------------------------------------------------------------
# Helpers
--------------------------------------------------------------*/
@import "base/helpers";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "components/forms";

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
@import "components/buttons";

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
@import "layout/header";

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
@import "layout/hero";

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
@import "layout/features";

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
@import "layout/pricing";

/*--------------------------------------------------------------
# CTA
--------------------------------------------------------------*/
@import "layout/cta";

/*--------------------------------------------------------------
# Site content
--------------------------------------------------------------*/
@import "layout/main";

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
@import "layout/footer";
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    margin: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section {
    display: block;
  }
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  figcaption,
  figure,
  main {
    display: block;
  }
  
  figure {
    margin: 1em 40px;
  }
  
  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }
  
  pre {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  
  a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  
  abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
  }
  
  b,
  strong {
    font-weight: inherit;
  }
  
  b,
  strong {
    font-weight: bolder;
  }
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  
  dfn {
    font-style: italic;
  }
  
  mark {
    background-color: #ff0;
    color: #000;
  }
  
  small {
    font-size: 80%;
  }
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  audio,
  video {
    display: inline-block;
  }
  
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  
  img {
    border-style: none;
  }
  
  svg:not(:root) {
    overflow: hidden;
  }
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }
  
  button,
  input {
    overflow: visible;
  }
  
  button,
  select {
    text-transform: none;
  }
  
  button,
  html [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
  }
  
  progress {
    display: inline-block;
    vertical-align: baseline;
  }
  
  textarea {
    overflow: auto;
  }
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }
  
  [type="search"]::-webkit-search-cancel-button,
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }
  
  details,
  menu {
    display: block;
  }
  
  summary {
    display: list-item;
  }
  
  canvas {
    display: inline-block;
  }
  
  template {
    display: none;
  }
  
  [hidden] {
    display: none;
  }
  .pricing-header {
      margin-bottom: 48px;
  }
  
  .pricing-tables-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-right: -12px;
      margin-left: -12px;
  
      &:first-child {
          margin-top: -12px;
      }
  
      &:last-child {
          margin-bottom: -12px;
      }
  }
  
  .pricing-table {
      position: relative;
      padding: 12px;
      width: 368px;
      max-width: 368px;
      flex-grow: 1;
  
      &::before {
          content: '';
          position: absolute;
          left: 50%;
          width: 200%;
          max-width: 200%;
          height: 435px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%;
          bottom: 18.8%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          background-image: url('../public/pricing-illustration.svg');
      }
  }
  
  .pricing-table-header,
  .pricing-table-features-title,
  .pricing-table-features li {
      border-bottom: 1px solid rgba(color(typography, 2), .24);
  }
  
  .pricing-table-inner {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      background: color(bg, 4);
      padding: 24px;
      height: 100%;
  
      > * {
          position: relative; /* To display all elements above the box with shadow */
          width: 100%;
      }
  
      &::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          @include shadow;
      }
  }
  
  .pricing-table-price {
      @if ( get-font-family(heading) != get-font-family(base) ) {
          @include font-family(heading);
      }
  }
  
  .pricing-table-price-currency {
      color: color(typography, 2);
  }
  
  .pricing-table-features-title {
      color: color(typography, 1);
      @include font-weight(bold);
  }
  
  .pricing-table-features {
  
      li {
          display: flex;
          align-items: center;
          padding: 14px 0;
  
          &::before {
              content: '';
              width: 16px;
              height: 12px;
              margin-right: 16px;
              background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTUuNiA2LjRMMS42IDQgMCA1LjYgNS42IDEyIDE2IDEuNiAxNC40IDB6IiBmaWxsPSIjMDJDQkIxIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
              background-repeat: no-repeat;
          }
      }
  }
  
  .pricing-table-cta {
      align-self: flex-end;
  }
  
  @include media( '>medium' ) {
  
      .pricing {
  
          .section-paragraph {
              padding-left: 90px;
              padding-right: 90px;
          }
      }
  
      .pricing-header {
          margin-bottom: 52px;
      }
  }
  .is-boxed {
      background: color(bg, 3);
  }
  
  .body-wrap {
      background: color(bg, 2);
      overflow: hidden;
      /* Sticky footer */
      display: flex;
      flex-direction: column;
      min-height: 100vh;
  }
  
  .boxed-container {
      max-width: 1440px;
      margin: 0 auto;
      @include shadow;
      mix-blend-mode: normal;
  }
  
  main {
      flex: 1 0 auto;
  }
  
  .section-inner {
      position: relative; /* To always display inner elements above pseudo decorative stuff */
      padding-top: 48px;
      padding-bottom: 48px;
  }
  
  @include media( '>medium' ) {
  
      .section-inner {
          padding-top: 88px;
          padding-bottom: 88px;
      }
  }
  .hero {
      text-align: center;
      padding-top: 48px;
      padding-bottom: 88px;
  }
  
  .hero-copy {
      position: relative; /* To display elements above hero illustrations */
      z-index: 1;
  }
  
  .hero-cta {
      margin-bottom: 40px;
  }
  
  .hero-figure {
      position: relative;
  
      svg {
          width: 100%;
          height: auto;
      }
  
      &::before,
      &::after {
          content: '';
          position: absolute;
          background-repeat: no-repeat;
          background-size: 100%;
  
          .has-animations & {
              opacity: 0;
              transition: opacity 2s ease;
  
              .anime-ready & {
                  opacity: 1;
              }
          }
      }
  
      &::before {
          top: -57.8%;
          left: -1.3%;
          width: 152.84%;
          height: 178.78%;
          background-image: url('../public/hero-back-illustration.svg');
      }
  
      &::after {
          top: -35.6%;
          left: 99.6%;
          width: 57.2%;
          height: 87.88%;
          background-image: url('../public/hero-top-illustration.svg');
      }
  }
  
  .hero-figure-box {
      position: absolute;
      top: 0;
      will-change: transform;
  }
  
  .hero-figure-box-01,
  .hero-figure-box-02,
  .hero-figure-box-03,
  .hero-figure-box-04,
  .hero-figure-box-08,
  .hero-figure-box-09 {
      overflow: hidden;
  
      &::before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          transform-origin: 100% 100%;
      }
  }
  
  .hero-figure-box-01 {
      left: 103.2%;
      top: 41.9%;
      width: 28.03%;
      height: 37.37%;
      background: linear-gradient(to left top, #00BFFB, rgba(#00BFFB, 0));
      transform: rotateZ(45deg);
  
      &::before {
          background: linear-gradient(to left, color(bg, 1) 0%, rgba(color(bg, 1), 0) 60%);
          transform: rotateZ(45deg) scale(1.5);
      }
  }
  
  .hero-figure-box-02 {
      left: 61.3%;
      top: 64.1%;
      width: 37.87%;
      height: 50.50%;
      background: linear-gradient(to left top, color(primary, 1), rgba(color(primary, 1), 0));
      transform: rotateZ(-45deg);
  
      &::before {
          background: linear-gradient(to top, color(bg, 1) 0%, rgba(color(bg, 1), 0) 60%);
          transform: rotateZ(-45deg) scale(1.5);
      }
  }
  
  .hero-figure-box-03 {
      left: 87.7%;
      top: -56.8%;
      width: 56.81%;
      height: 75.75%;
      background: linear-gradient(to left top, #00BFFB, rgba(#00BFFB, 0));
  
      &::before {
          background: linear-gradient(to left, color(bg, 1) 0%, rgba(color(bg, 1), 0) 60%);
          transform: rotateZ(45deg) scale(1.5);
      }
  }
  
  .hero-figure-box-04 {
      left: 54.9%;
      top: -8%;
      width: 45.45%;
      height: 60.60%;
      background: linear-gradient(to left top, color(primary, 1), rgba(color(primary, 1), 0));
      transform: rotateZ(-135deg);
  
      &::before {
          background: linear-gradient(to top, rgba(color(typography, 1), .24) 0%, rgba(color(typography, 1), 0) 60%);
          transform: rotateZ(-45deg) scale(1.5);
      }
  }
  
  .hero-figure-box-05,
  .hero-figure-box-06,
  .hero-figure-box-07 {
      background-color: color(bg, 3);
      box-shadow: -20px 32px 64px rgba(#000, .25);
  }
  
  .hero-figure-box-05 {
      left: 17.4%;
      top: 13.3%;
      width: 64%;
      height: 73.7%;
      transform: perspective(500px) rotateY(-15deg) rotateX(8deg) rotateZ(-1deg);
  }
  
  .hero-figure-box-06 {
      left: 65.5%;
      top: 6.3%;
      width: 30.3%;
      height: 40.4%;
      transform: rotateZ(20deg);
  }
  
  .hero-figure-box-07 {
      left: 1.9%;
      top: 42.4%;
      width: 12.12%;
      height: 16.16%;
      transform: rotateZ(20deg);
  }
  
  .hero-figure-box-08 {
      left: 27.1%;
      top: 81.6%;
      width: 19.51%;
      height: 26.01%;
      background: color(primary, 1);
      transform: rotateZ(-22deg);
  
      &::before {
          background: linear-gradient(to left, rgba(color(typography, 1), 0) 0%, rgba(color(typography, 1), .48) 100%);
          transform: rotateZ(45deg) scale(1.5);
      }
  }
  
  .hero-figure-box-09 {
      left: 42.6%;
      top: -17.9%;
      width: 6.63%;
      height: 8.83%;
      background: #00BFFB;
      transform: rotateZ(-52deg);
  
      &::before {
          background: linear-gradient(to left, rgba(color(typography, 1), 0) 0%, rgba(color(typography, 1), .64) 100%);
          transform: rotateZ(45deg) scale(1.5);
      }
  }
  
  .hero-figure-box-10 {
      left: -3.8%;
      top: 4.3%;
      width: 3.03%;
      height: 4.04%;
      background: rgba(#00BFFB, .32);
      transform: rotateZ(-50deg);
  }
  
  @include media( '<=medium' ) {
  
      .hero-cta {
          max-width: 280px;
          margin-left: auto;
          margin-right: auto;
  
          .button {
              display: flex;
  
              + .button {
                  margin-top: 16px;
              }
          }
      }
  
      .hero-figure::after,
      .hero-figure-box-03,
      .hero-figure-box-04,
      .hero-figure-box-09 {
          display: none;
      }
  }
  
  @include media( '>medium' ) {
  
      .hero {
          text-align: left;
          padding-top: 64px;
          padding-bottom: 88px;
      }
  
      .hero-inner {
          /* Split hero in two half */
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
  
      .hero-copy {
          padding-right: 64px;
          min-width: 552px;
          width: 552px;
      }
  
      .hero-cta {
          margin: 0;
  
          .button {
              min-width: 170px;
  
              &:first-child {
                  margin-right: 16px;
              }
          }
      }
  
      .hero-figure {
  
          svg {
              width: auto;
          }
      }
  }
  .site-header {
      padding: 24px 0;
  }
  
  .site-header-inner {
      position: relative; /* To display all elements above the background color */
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .header-links {
      display: inline-flex;
  
      li {
          display: inline-flex;
      }
  
      a:not(.button) {
          @include font-size(7, mobile, true, true, true);
          @if ( get-font-size(7, desktop) != get-font-size(7, mobile) ) {
              @include media( '>medium' ) {
                  @include font-size(7, desktop, true, true, true);
              }
          }
          @include font-weight(semibold);
          @include anchor-aspect(header);
          line-height: 16px;
          padding: 8px 24px;
      }
  }
  
  @include media( '>medium' ) {
  
      .site-header {
          position: relative;
  
          &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 700px;
              background: color(bg, 3);
              background: linear-gradient(80deg, rgba(color(bg, 3), .5) 0%, rgba(color(bg, 3), 0) 100%);
              -webkit-transform-origin: 0;
              transform-origin: 0;
              -webkit-transform: skewY(-12deg);
              transform: skewY(-12deg);
          }
      }
  }
  .site-footer {
      @include font-size(8, mobile, true, true, true);
      @if ( get-font-size(8, desktop) != get-font-size(8, mobile) ) {
          @include media( '>medium' ) {
              @include font-size(8, desktop, true, true, true);
          }
      }
  
      a {
          @include anchor-aspect(footer);
      }
  }
  
  .site-footer-inner {
      position: relative; 
      display: flex;
      flex-wrap: wrap;
      padding-top: 48px;
      padding-bottom: 48px;
  }
  
  .footer-brand,
  .footer-links,
  .footer-social-links,
  .footer-copyright {
      flex: none;
      width: 100%;
      display: inline-flex;
      justify-content: center;
  }
  
  .footer-brand,
  .footer-links,
  .footer-social-links {
      margin-bottom: 24px;
  }
  
  .footer-social-links {
  
      li {
          display: inline-flex;
  
          + li {
              margin-left: 16px;
          }
  
          a {
              padding: 8px;
          }
      }
  }
  
  .footer-links {
  
      li {
  
          + li {
              margin-left: 24px;
          }
      }
  }
  
  @include media( '>medium' ) {
  
      .site-footer {
          margin-top: 20px;
      }
  
      .site-footer-inner {
          justify-content: space-between;
          padding-top: 64px;
          padding-bottom: 64px;
      }
  
      .footer-brand,
      .footer-links,
      .footer-social-links,
      .footer-copyright {
          flex: 50%;
      }
  
      .footer-brand,
      .footer-copyright {
          justify-content: flex-start;
      }
  
      .footer-links,
      .footer-social-links {
          justify-content: flex-end;
      }
  
      .footer-links {
          order: 1;
          margin-bottom: 0;
      }
  }
  .features-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-right: -32px;
      margin-left: -32px;
  
      &:first-of-type {
          margin-top: -16px;
      }
  
      &:last-of-type {
          margin-bottom: -16px;
      }
  }
  
  .feature {
      padding: 16px 32px;
      width: 380px;
      max-width: 380px;
      flex-grow: 1;
  }
  
  .feature-inner {
      height: 100%;
  }
  
  .feature-icon {
      display: flex;
      justify-content: center;
  }
  
  @include media( '>medium' ) {
  
      .features-wrap {
  
          &:first-of-type {
              margin-top: -24px;
          }
  
          &:last-of-type {
              margin-bottom: -24px;
          }
      }
  
      .feature {
          padding: 32px 32px;
      }
  }
  .cta {
      text-align: center;
  
      .section-inner {
          padding: 48px 16px;
      }
  
      .section-title {
          margin-bottom: 40px;
      }
  }
  
  .cta-inner {
      position: relative;
      background: color(bg, 1);
      overflow: hidden;
  
      &::before {
          content: '';
          position: absolute;
          right: 98px;
          top: -117px;
          width: 160px;
          height: 187px;
          background-image: url('../public/cta-illustration.svg');
          background-repeat: no-repeat;
      }
  
      > * {
          position: relative; 
      }
  }
  
  @include media( '>medium') {
  
      .cta {
          text-align: left;
  
          .section-inner {
              padding: 64px 32px;
          }
  
          .section-title {
              margin-bottom: 0;
              padding-right: 24px;
          }
      }
  
      .cta-inner {
          display: flex;
          align-items: center;
          justify-content: space-between;
      }
  }
  